<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Seven</title>
    <link rel="stylesheet" href="__STATIC__/layui/dist/css/layui.css">
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">Seven Blog后台布局</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->

<!--        <ul class="layui-nav layui-layout-left">-->
<!--            <li class="layui-nav-item">-->
<!--                <a href="">控制台</a>-->
<!--            </li>-->
<!--            <li class="layui-nav-item">-->
<!--                <a href="">商品管理</a>-->
<!--            </li>-->
<!--            <li class="layui-nav-item">-->
<!--                <a href="">用户</a>-->
<!--            </li>-->
<!--            <li class="layui-nav-item">-->
<!--                <a href="javascript:;">其它系统</a>-->
<!--                <dl class="layui-nav-child">-->
<!--                    <dd>-->
<!--                        <a href="">邮件管理</a>-->
<!--                    </dd>-->
<!--                    <dd>-->
<!--                        <a href="">消息管理</a>-->
<!--                    </dd>-->
<!--                    <dd>-->
<!--                        <a href="">授权管理</a>-->
<!--                    </dd>-->
<!--                </dl>-->
<!--            </li>-->
<!--        </ul>-->

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img"> 贤心
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="">基本资料</a>
                    </dd>
                    <dd>
                        <a href="">安全设置</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="">退了</a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="/index.php/auth/index.php">首页</a>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">权限管理</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="/index.php/auth/accout.php">用户</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">权限</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">角色</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div id="main" style="width: 700px;height:600px;margin:0 auto;top: 45px;"></div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script src="__STATIC__/layui/dist/layui.js"></script>
<script src="__JS__/echarts.min.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function() {
        var element = layui.element;
    });

    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    setTimeout(function () {

        option = {
            legend: {},
            tooltip: {
                trigger: 'axis',
                showContent: false
            },
            dataset: {
                source: [
                    ['product', '2012', '2013', '2014', '2015', '2016', '2017'],
                    ['访问量', 41.1, 30.4, 65.1, 53.3, 83.8, 98.7],
                    ['点赞量', 86.5, 92.1, 85.7, 83.1, 73.4, 55.1],
                    ['留言量', 24.1, 67.2, 79.5, 86.4, 65.2, 82.5],
                    ['注册量', 55.2, 67.1, 69.2, 72.4, 53.9, 39.1],
                    ['打赏量', 55.2, 67.1, 69.2, 72.4, 53.9, 39.1]
                ]
            },
            xAxis: {type: 'category'},
            yAxis: {gridIndex: 0},
            grid: {top: '55%'},
            series: [
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                {
                    type: 'pie',
                    id: 'pie',
                    radius: '30%',
                    center: ['50%', '25%'],
                    label: {
                        formatter: '{b}: {@2012} ({d}%)'
                    },
                    encode: {
                        itemName: 'product',
                        value: '2012',
                        tooltip: '2012'
                    }
                }
            ]
        };

        myChart.on('updateAxisPointer', function (event) {
            var xAxisInfo = event.axesInfo[0];
            if (xAxisInfo) {
                var dimension = xAxisInfo.value + 1;
                myChart.setOption({
                    series: {
                        id: 'pie',
                        label: {
                            formatter: '{b}: {@[' + dimension + ']} ({d}%)'
                        },
                        encode: {
                            value: dimension,
                            tooltip: dimension
                        }
                    }
                });
            }
        });

        myChart.setOption(option);

    });


</script>
</body>

</html>